/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: white;
    padding: 100px 0;
    text-align: center;
}

header h1 {
    font-size: 3.5rem;
}

header p {
    font-size: 1.3rem;
    margin-top: 20px;
}

.about-content {
    padding: 50px 0;
    background-color: white;
    text-align: center;
}

.about-content h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1.2rem;
    color: #555;
    width: 70%;
    margin: 0 auto;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer p {
    margin: 0;
}
